<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">X-Pills</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <!-- mdbCollapse
      #basicNavbar="mdbCollapse"-->
    
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="accueil">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="services">Services</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link active" href="#" 
            >Contact</a
          >
        </li>
      </ul>
      <!-- Left links -->

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<router-outlet></router-outlet>
<div class="footer-clean">
  <footer>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-4 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Web design</a></li>
                      <li><a href="#">Development</a></li>
                      <li><a href="#">Hosting</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                      <li><a href="#">Legacy</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>Careers</h3>
                  <ul>
                      <li><a href="#">Job openings</a></li>
                      <li><a href="#">Employee success</a></li>
                      <li><a href="#">Benefits</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 item social">
                  <p class="copyright">Company Name © 2018</p>
              </div>
          </div>
      </div>
  </footer>
</div>